body {
    font-family: Georgia;
    background-color: #51d4c5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%2351d4c5' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2300bac4' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23009ebf' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%230082b5' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%230065a3' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%231d488a' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
    background-attachment: fixed;
    background-size: cover;

}

h1, h2, h3, p {
    opacity: 1.5 !important;
}

p, h3 {
    margin-left: 5vw;
    margin-right: 5vw;
}
p {
    text-align: justify;
}

h1 {
    padding-top: 15vh;
}

h2 {
    padding-top: 10vh;
    font-size: 5vw;
    font-variant: small-caps;
}

h3 {
    font-size: 3vw;
    padding-top: 5vh;
}

nav {
    box-shadow: -1px 6px 10px 0px #4b5c6b;
}

small {
    font-size: 3vh;
}

.bg-dark {
    background-color: #0f3a53 !important;
}

.container {
    min-height: 100vh !important;
    background-color: rgba(152, 181, 219, 0.5);
    border-radius: 15px;
    margin-top: 10vh;
    box-shadow: 0 5px 5px rgb(106, 116, 122);
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

.row {
    margin-left: 5vw;
    margin-right: 5vw;
}

.first-column {

    margin-top: 0.5vh;
}

.progress {

    margin-top: 1vh;
}

.visual-symbol {
    top: 1;
    position: relative;
}

.typing {
    font-family: Papyrus;
    font-size: 8vw !important;
    border-right: .015em solid rgb(34, 73, 133);
    margin: 0 auto;
    font-size: 8vw;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .01em;
    animation:
        cursor-effect 2.5s steps(40, end),
        cursor 1s step-end infinite;
}


@keyframes cursor-effect {
    from {
        width: 0
    }

    to {
        width: 40vw
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(24, 52, 95);
        
    }
}

@media only screen and (max-width: 375px){

    .container {
        width: 98vw;
    }
    .typing {
        font-size: 15vw !important;
        width: 80vw;
        animation:
            cursor-effect 0.8s steps(60, end),
            cursor 1s step-end infinite;
    }
    h2 {
        font-size: 10vw;
    }
    h3 {
        font-size: 8vw;
    }

}
